
  .footer {
      color: white;
      background: linear-gradient(to right, #000046, #1cb5e0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
      bottom: 0;
      height: 30px;
      width: 100%;
    
  }



  .col {
      float: CENTER;
  }

  .row {
    text-align: center;
    height: 100%;
    height: 30px;
    line-height: 40px;
    background: linear-gradient(to right, #000046, #1cb5e0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
  }



  #col li {
      list-style-type: none;
  }