.NavbarItems {
    
    background: linear-gradient(to right, #000046, #1cb5e0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    outline: solid black;
    outline-width: 5px;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
   

}

.navbar-logo {
    color:rgb(255, 255, 255);
    font-size: 20px;
    justify-self: start;
    margin-left: 10px;
    cursor: pointer;
}

.navbar-logo:hover {
    text-decoration: underline;
}



.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 30px;
    list-style: none;
    text-align: center;
}

.nav-links {
    color: rgb(255, 255, 255);
    font-size: 15px;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links:hover {
    background-color: rgb(131, 127, 207);
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

@media screen and (max-width: 980px) {
    .NavbarItems {
        position: relative;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        position: absolute;
        top: 70px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }
}