.mapInformation {
    
    margin: auto;
    position: relative;
    font-size: 20px;
    color: black;
}

#list li {
    list-style-type: none;
}

.locationsTitle {
    margin: auto;
    color: black;
}