.App {
  text-align: center;
}


.App-header {
  
  
  background: linear-gradient(to right, #457fca, #5691c8);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  color: rgb(255, 255, 255); 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 50px; font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 2; 
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.contactMeTitle {

  color: white; 
	font-family: 'Helvetica Neue', sans-serif; 
	font-size: 28px; 
	font-weight: bold; 
	letter-spacing: 0px; 
	line-height: 0; 
  text-align: left;
  
}

.contactMeForm {

  width: 200px;
  margin: auto;
  color: white; 
	font-family: 'Helvetica Neue', sans-serif; 
	font-size: 20px; 
	font-weight: lighter; 
	letter-spacing: 0px; 
	line-height: 1.5; 
  text-align: left;
  
}

.topicTitle {

  color: white; 
	font-family: 'Helvetica Neue', sans-serif; 
	font-size: 28px; 
	font-weight: bold; 
	letter-spacing: 0px; 
	line-height: 0; 
  text-align: left;
  margin: auto;

}

.locationsTitle {

  color: white; 
	font-family: 'Helvetica Neue', sans-serif; 
	font-size: 28px; 
	font-weight: bold; 
	letter-spacing: 0px; 
	line-height: 0; 
  text-align: left;
  margin: auto;

}

.homeTitle {

  color: white; 
	font-family: 'Helvetica Neue', sans-serif; 
	font-size: 28px; 
	font-weight: bold; 
	letter-spacing: 0px; 
	line-height: 0; 
  text-align: left;
  margin: auto;

}

.requiredFields {

  color: red;
  font-size: 15px;
  font-family:'Helvetica Neue', sans-serif;
  text-align: left;
  font-weight: lighter;
  line-height: 0px;
}

.submit {

  background-color: #6495b1;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 15px 2px;
  cursor: pointer;

}

.submit:hover {

  background-color:#0613c2;
  border-radius: 4px;
  transition: all 0.2s ease-out;
  
}

.messageBox {

  height: 100px;
  width: 210px;
  margin: 10px 0px;
  vertical-align: text-top

}

